@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  * {
    font-size: medium;
    box-sizing: border-box;
  }
}

body,
.container,
#mainTxt {
  background-color: white;
  align-content: center;
  /* margin: auto; */
  margin-top: 45px;
  padding: auto;
  font-family: "Roboto Mono", monospace;
}

.container2 {
  margin: auto;
  padding: 60px;
  background-color: aquamarine;
}

.container3 {
  margin: auto;
  padding: 60px;
}

.card-text,
#textHeader {
  font-size: 4rem;
  text-align: center;
  color: #318ddc;
  align-items: center;
}

#subHeader {
  font-size: 3rem;
  text-align: center;
  color: #318ddc;
  align-items: center;
}

.card {
  text-align: center;
}

.paraText,
ul {
  font-size: 2rem;
}

.card-title {
  font-size: 2rem;
  text-align: center;
}

#mainChem {
  background-color: #318ddc;
  text-align: left;
  color: white;
  font-size: 2rem;
}

#myDiv {
  text-align: center;
}

mark {
  background-color: #f9be04;
}

.flex-container > div {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.btn {
  margin: 5px;
  font-size: 15px;
  align-items: center;
}

td {
  margin: 20px;
  padding: 20px;
  align-items: center;
  text-align: center;
}
/* .card {
  margin: 20px;
  padding: 20px;
  font-size: 15px;
  height: 4rem;
  border-style: dotted black;
  align-items: center;
  background-color: white;
  text-align: center;
} */

.col-sm {
  align-items: center;
}

#infoCollapse {
  color: black;
}

#tableHead {
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.footer-bottom {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* RETURN TO TOP BUTTON */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #318ddc;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #318ddc;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* flexbox container */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: top;
  align-content: space-between;
}

.card {
  margin: 5px;
  padding: 4px;
}

#showMore {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#diatomic {
  background-color: rgb(231, 231, 231);
}

#nonmetal {
  color: black;
  background-color: rgb(232, 208, 255);
}

[id*="noble"] {
  color: black;
  background-color: rgb(248, 153, 106);
}

#halogen {
  color: black;
  background-color: rgb(250, 166, 255);
}

#metalloid {
  color: black;
  background-color: rgb(146, 219, 255);
}

#metal {
  color: black;
  background-color: lightgrey;
}

#lanthanoid {
  color: black;
  background-color: rgb(210, 255, 145);
}

#actinoid {
  color: black;
  background-color: rgb(184, 255, 145);
}

[id*="transition"] {
  color: black;
  background-color: rgb(231, 231, 231);
}

[id*="alkali"] {
  color: black;
  background-color: rgb(254, 255, 115);
}

[id*="alkaline"] {
  color: black;
  background-color: rgb(240, 240, 46);
}
